Interface/Interface/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Interface/Interface/obj/Debug/net8.0/apphost.exe
Interface/Interface/obj/Debug/net8.0/Interface.AssemblyInfo.cs
Interface/Interface/obj/Debug/net8.0/Interface.AssemblyInfoInputs.cache
Interface/Interface/obj/Debug/net8.0/Interface.assets.cache
Interface/Interface/obj/Debug/net8.0/Interface.csproj.BuildWithSkipAnalyzers
Interface/Interface/obj/Debug/net8.0/Interface.csproj.CoreCompileInputs.cache
Interface/Interface/obj/Debug/net8.0/Interface.csproj.FileListAbsolute.txt
Interface/Interface/obj/Debug/net8.0/Interface.dll
Interface/Interface/obj/Debug/net8.0/Interface.GeneratedMSBuildEditorConfig.editorconfig
Interface/Interface/obj/Debug/net8.0/Interface.genruntimeconfig.cache
Interface/Interface/obj/Debug/net8.0/Interface.GlobalUsings.g.cs
Interface/Interface/obj/Debug/net8.0/Interface.pdb
Interface/Interface/obj/Debug/net8.0/ref/Interface.dll
Interface/Interface/obj/Debug/net8.0/refint/Interface.dll
Interface/.vs/Interface/DesignTimeBuild/.dtbcache.v2
Interface/.vs/Interface/FileContentIndex/0a38f3f5-4763-4dee-91fc-3013bc38c0fc.vsidx
Interface/.vs/Interface/FileContentIndex/6a80b01b-32a7-4a23-a628-2fb019912670.vsidx
Interface/.vs/Interface/FileContentIndex/943b7808-9f8f-4690-9ba2-4e14e31c8faa.vsidx
Interface/.vs/Interface/FileContentIndex/975f94e0-d431-44cc-80c3-7aa15fd33fb8.vsidx
Interface/.vs/Interface/FileContentIndex/be15780f-c68a-4191-b897-93c8cde9d53d.vsidx
Interface/.vs/Interface/v17/.suo
Interface/.vs/Interface/v17/DocumentLayout.backup.json
Interface/.vs/Interface/v17/DocumentLayout.json
Interface/Interface/bin/Debug/net8.0/Interface.deps.json
Interface/Interface/bin/Debug/net8.0/Interface.dll
Interface/Interface/bin/Debug/net8.0/Interface.exe
Interface/Interface/bin/Debug/net8.0/Interface.pdb
Interface/Interface/bin/Debug/net8.0/Interface.runtimeconfig.json
Interface/Interface/obj/Interface.csproj.nuget.dgspec.json
Interface/Interface/obj/Interface.csproj.nuget.g.props
Interface/Interface/obj/Interface.csproj.nuget.g.targets
Interface/Interface/obj/project.assets.json
Interface/Interface/obj/project.nuget.cache
